@mixin placeholder($opacity) {
  font-size: 1.3rem;
  color: #fff;
  opacity: $opacity;
  transition: opacity 0.3s ease;
}
.subscription {
  background: url('../media/E-mail-images.png') repeat-x 50% 50% #245598;
  background-size: contain;
  color: #fff;
  height: 355px;
  width: 100%;
  &-header {
    @include block-header(#fff)
  }

  &-input {
    font-size: 1.3rem;
    border: 1px solid #fff;
    width: 100%;
    height: 50px;
    background: none;
    padding: 18.5px 30px;
    &::-webkit-input-placeholder       {@include placeholder(1)}
    &::-moz-placeholder                {@include placeholder(1)}
    &:-ms-input-placeholder            {@include placeholder(1)}
    &:focus::-webkit-input-placeholder {@include placeholder(0)}
    &:focus::-moz-placeholder          {@include placeholder(0)}
    &:focus:-ms-input-placeholder      {@include placeholder(0)}

  }

  &-text {
    font-size: 1.1rem;
    font-weight: normal;
  }

  &-submit {
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz48c3ZnIHZlcnNpb249IjEuMSIgaWQ9ItCh0LvQvtC5XzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IiB2aWV3Qm94PSItMC43IDcuMyAyMy43IDE1LjMiIHN0eWxlPSJlbmFibGUtYmFja2dyb3VuZDpuZXcgLTAuNyA3LjMgMjMuNyAxNS4zOyIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+PHN0eWxlIHR5cGU9InRleHQvY3NzIj4uc3Qwe2ZpbGw6bm9uZTtzdHJva2U6I2ZmZmZmZjtzdHJva2Utd2lkdGg6MC41ODI2O3N0cm9rZS1saW5lY2FwOnJvdW5kO3N0cm9rZS1saW5lam9pbjpyb3VuZDt9PC9zdHlsZT48bGluZSBjbGFzcz0ic3QwIiB4MT0iLTAuNCIgeTE9IjE0LjkiIHgyPSIyMi43IiB5Mj0iMTQuOSIvPjxsaW5lIGNsYXNzPSJzdDAiIHgxPSIyMi43IiB5MT0iMTQuOSIgeDI9IjE1LjQiIHkyPSIyMi4yIi8+PGxpbmUgY2xhc3M9InN0MCIgeDE9IjIyLjciIHkxPSIxNC45IiB4Mj0iMTUuNCIgeTI9IjcuNiIvPjwvc3ZnPg==) transparent;
    border: none;
    width: 23px;
    height: 15px;
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translate(0, -50%);
  }

  &-input-group {
    position: relative;
    width: 100%;
    height: 50px;
  }
}

@media (max-width: 992px) {
  .subscription-wrapper {
    width: 100%;
  }
}