@mixin contact-icon() {
  content: '';
  background-position: center center;
  background-repeat: no-repeat;
  width: 13px;
  height: 13px;
  display: block;
  margin-left: -30px;
  margin-top: 5px;
  position: absolute;
}
.contacts {
  &-data {
    color: #fff;
    font-weight: 100;
    font-style: normal;
    position: relative;
    height: 100vh;
    &-wrapper {
      height: 385px;
      @include center-vertically();
    }
    &-address {
      &:before {
        @include contact-icon();
        width: 13px;
        height: 15px;
        background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA0AAAAPCAQAAACVKo38AAAA6UlEQVQYGQXBsUrUAQDA4Z9HoFBu2dLQJHRjEAhNh7cl3Sb4CC1Cg3Bwj2BNQiAtThENPYC4VDi7/ZcewKHr5IZocfj6viQjRy6tra1dOjKSkh0/XTuwJVsOXPthR9l044ORJMnIezc2c+LKhhwa/DM4lA1XTjKYyr5bEw9M3NqXqSH3tuXCXJK5C9l2n5VncuZUklNn8tTffDGXsaWFVxaWxrLwOS/99lh2nfvu3K488ceL5JOvkiTJNx+VPPLLsSTJO4OHSjJ257Ukb6w8l5JkamVP9tyZSEqSzCy9tTSTpCRJZtZmkqT/0bv6YAsQfu8AAAAASUVORK5CYII=);
      }
      &-address {
        font-style: normal;
      }
    }
    &-phone {
      margin-top: 45px;
      &:before {
        @include contact-icon();
        width: 15px;
        height: 15px;
        background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAAPCAQAAACR313BAAAA1ElEQVQYV3XQPUoDARAG0AmBKBhY/LmChQuphPSC9loEBQ9g6RVslBUELSwEL6BYpRFjK4IpRbDSJuBqYWXsn4Wssu7KVB9vmBkmNBwYu5aIaoUtt9oyw7qG8GBRCJmhySqPf0Jf73/uyC3UDU+F8GLjL4qw40gIJ/breFYuFWaMrFQ5bLrXFrpeLQth3qqJgsOxgZbQNbJnXe7SnaTgpgvnWsKcU286vv+QFFtazlyZLm3ODH5Dw67n0nFTPsuXLnk0sKYtpG4cljk09fS9+/BkW+MLKgYM6hsJC/cAAAAASUVORK5CYII=);
      }
    }
    &-email {
      margin-top: 45px;
      &:before {
        @include contact-icon();
        width: 15px;
        height: 11px;
        background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAALCAYAAACgR9dcAAAAyUlEQVQokZXSMUoDQRQG4H8bGwurJYVWkjYoFiY2YpPCwko8iafwAp5CYbt0FhKCsfIEgtjYCN7gs5lI3LCyDrzif8z3eANT4TrJVZKP9D+DJPcVXpJ8JrlM8tUD7iS5SzIIGpxhjl3kj6rxiCmaFQ6OsMSwA+7hCZOSf+EUuMRhCw7xjNFabwMHB3jDackjvOO4dW8D1+XtUzzgtqx6Ufp1F17BcclbOMF2yePWgB/chl21PqAJFj1he8Ciwk2S8ySv//hh+0lm3/1ul7+6w1eGAAAAAElFTkSuQmCC);
      }
    }
    &-button {
      @include button-type-2();
      margin-top: 45px;
    }
  }
}