<div class="project-item-wrapper">
    <div style="background-image: url('{{project.picture}}');" class="project-item-image"></div>
    <h3 class="project-item-header"  translate="{{'projects.project' + project._id + '.displayName'}}"></h3>
    <p class="project-item-text" translate="{{'projects.project' + project._id + '.displayShortDescription'}}"></p>
    <button class="project-item-button" ng-click="goto(project._id)" translate="interface.directives.projectItem.button">о проекте</button>
    <div class="project-item-stats">
        <div class="project-item-stats-icon-wrapper">
            <div class="project-item-stats-icon-people"></div>
            <div class="project-item-stats-icon-text">{{project.people}}</div>
            <div class="project-item-stats-icon-text">{{project.people | spdEnding : 'volunteer'}}</div>
        </div>
        <div class="project-item-stats-icon-wrapper">
            <div class="project-item-stats-icon-money"></div>
            <div class="project-item-stats-icon-text">{{project.money}} {{'interface.currency' | translate}} {{'interface.directives.projectItem.money' | translate}}</div>
        </div>
        <div class="project-item-stats-icon-wrapper" ng-if="!project.isCompleted">
            <div class="project-item-stats-icon-calendar">
                <div class="project-item-stats-icon-calendar-days">{{project.days}}</div>
            </div>
            <div class="project-item-stats-icon-text">{{project.days}}</div>
            <div class="project-item-stats-icon-text">{{project.days | spdEnding : 'day'}}</div>
        </div>
    </div>
</div>