.project-item {
  &-wrapper {
    border: 1px solid #eaeaea;
    display: inline-block;
    background-color: #f9f9f9;
    width: 380px;
    height: 414px;
    margin: 25px;
  }
  &-image {
    width: 100%;
    height: 160px;
    background-color: #ccc;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  &-header {
    font-size: 2.4rem;
    font-weight: normal;
    margin-left: 20px;
    margin-right: 20px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
  &-text {
    font-size: 1.4rem;
    font-weight: 100;
    margin-left: 20px;
    margin-right: 20px;
    height: 80px;
    text-overflow: ellipsis;
    overflow: hidden;
  }
  &-button {
    margin: 12px  0 20px 20px;
    display: inline-block;
    width: 125px;
    height: 40px;
    float: left;

  }
  &-stats {
    display: inline-block;
    width: 219px;
    float: left;
    bottom: 10px;
    &-icon {
      &-wrapper {
        margin: 0;
        float: left;
        width: 73px;
      }
      &-people {
        background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz48c3ZnIHZlcnNpb249IjEuMSIgaWQ9ItCh0LvQvtC5XzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IiB2aWV3Qm94PSI2IC0wLjQgMzkuMSAyOS40IiBzdHlsZT0iZW5hYmxlLWJhY2tncm91bmQ6bmV3IDYgLTAuNCAzOS4xIDI5LjQ7IiB4bWw6c3BhY2U9InByZXNlcnZlIj48c3R5bGUgdHlwZT0idGV4dC9jc3MiPi5zdDB7ZmlsbDpub25lO3N0cm9rZTojODg4O3N0cm9rZS13aWR0aDoxLjM7c3Ryb2tlLW1pdGVybGltaXQ6MTA7fTwvc3R5bGU+PHBhdGggY2xhc3M9InN0MCIgZD0iTTI1LjksMTQuNGMyLjgsMCw1LTIuNCw1LTUuM3MtMi4zLTUuMi01LjEtNS4ycy01LDIuNC01LDUuM1MyMy4xLDE0LjQsMjUuOSwxNC40TDI1LjksMTQuNHoiLz48cGF0aCBjbGFzcz0ic3QwIiBkPSJNMjcuOSwxNS4xaC00LjJjLTMuNiwwLTYuNCwyLjktNi40LDYuNHY1LjJ2MC4xbDAuMywwLjFjMy4zLDEuMSw2LjMsMS40LDguOCwxLjRjNC44LDAsNy40LTEuMyw3LjctMS40bDAuMy0wLjJsMCwwdi01LjJDMzQuNCwxOCwzMS41LDE1LjEsMjcuOSwxNS4xTDI3LjksMTUuMXoiLz48cGF0aCBjbGFzcz0ic3QwIiBkPSJNMzYuMSwxMC44YzIuOCwwLDUtMi4zLDUtNS4ycy0yLjItNS4yLTUtNS4ycy01LDIuMy01LDUuMlMzMy40LDEwLjgsMzYuMSwxMC44TDM2LjEsMTAuOHoiLz48cGF0aCBjbGFzcz0ic3QwIiBkPSJNMzQuMywyNS4yYzAuOCwwLjEsMS40LDAuMSwyLjEsMC4xYzQuOCwwLDcuNi0xLjksNy43LTJsMC4zLTAuN2wwLDB2LTQuOGMwLTMuOS0yLjktNi43LTYuNC02LjdoLTQuMmMtMi42LDAtNC45LDEuNi01LjksMy45Ii8+PHBhdGggY2xhc3M9InN0MCIgZD0iTTE1LjcsMTAuOGMyLjgsMCw1LTIuMyw1LTUuMnMtMi4yLTUuMi01LTUuMnMtNSwyLjMtNSw1LjJTMTIuOSwxMC44LDE1LjcsMTAuOEwxNS43LDEwLjh6Ii8+PHBhdGggY2xhc3M9InN0MCIgZD0iTTIzLjYsMTVjLTEtMi4yLTMuMi0zLjctNS45LTMuN2gtNC4zYy0zLjYsMC02LjcsMi42LTYuNyw2LjF2NS4ybDAuMSwwLjFsMC40LDAuMWMzLjQsMSw2LjMsMS40LDguOCwxLjRjMC4yLDAsMC42LDAsMS4xLDAiLz48L3N2Zz4=);
        @include icon();
      }
      &-money {
        background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz48c3ZnIHZlcnNpb249IjEuMSIgaWQ9ItCh0LvQvtC5XzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IiB2aWV3Qm94PSIzIC0zLjUgMzMuOCAzNS41IiBzdHlsZT0iZW5hYmxlLWJhY2tncm91bmQ6bmV3IDMgLTMuNSAzMy44IDM1LjU7IiB4bWw6c3BhY2U9InByZXNlcnZlIj48c3R5bGUgdHlwZT0idGV4dC9jc3MiPi5zdDB7ZmlsbDpub25lO3N0cm9rZTojODg4O3N0cm9rZS13aWR0aDoxLjM7c3Ryb2tlLWxpbmVjYXA6cm91bmQ7c3Ryb2tlLWxpbmVqb2luOnJvdW5kO3N0cm9rZS1taXRlcmxpbWl0OjEwO308L3N0eWxlPjxnPjxnPjxwYXRoIGNsYXNzPSJzdDAiIGQ9Ik0zMi40LDcuNGMtMS4yLTEuMS0yLjgtMi4yLTQuNC0yLjhjLTAuMiwwLjMtMC41LDAuNi0wLjcsMC45Yy0wLjMsMC4zLTAuOCwwLjctMS4yLDAuOUMyNi42LDYuNSwyNyw2LjcsMjcuNSw3YzAuNSwwLjIsMC42LDAuOCwwLjMsMS4xYy0wLjIsMC4zLTAuNywwLjctMSwwLjVjLTIuOS0xLjQtNi4yLTEuMS03LjYtMC45Yy0wLjUsMC4xLTAuOC0wLjItMC45LTAuNmwwLDBjLTAuMS0wLjUsMC4yLTAuOSwwLjctMWMwLjIsMCwwLjYtMC4xLDAuOS0wLjFjLTAuMS0wLjEtMC4yLTAuMi0wLjMtMC4zYy0wLjUtMC41LTAuOS0xLjEtMS4xLTEuN2MwLTAuMS0wLjEtMC4xLTAuMS0wLjJjLTAuNSwwLjEtMC45LDAuMS0xLjIsMC4yYy0yLjUtMS41LTUuNC0xLjUtNy4xLTEuMkM5LDIuNiw4LjYsMy40LDguOSw0LjFsMS41LDMuMWMtMS43LDEuNS0zLDMuMi0zLjcsNS4xSDQuOWMtMC42LDAtMS4xLDAuNS0xLjEsMS4xdjQuMWMwLDAuNSwwLjIsMC44LDAuNiwxbDIuMywxLjJjMSwyLjcsMy4xLDUsNS43LDYuN1YzMGMwLDAuNywwLjYsMS4yLDEuMiwxLjJoMy4zYzAuNSwwLDEtMC4zLDEuMS0wLjhsMC44LTEuOWMwLjgsMC4yLDEuNSwwLjIsMi4yLDAuMmMxLjEsMCwyLjMtMC4xLDMuNC0wLjNWMzBjMCwwLjcsMC42LDEuMiwxLjIsMS4ySDI5YzAuNSwwLDAuOS0wLjIsMS4xLTAuN2MxLjctMy4zLDMuNi02LjYsNS0xMGMwLjctMS43LDEtMy42LDAuOC01LjNDMzUuOSwxMi4zLDM0LjUsOS40LDMyLjQsNy40TDMyLjQsNy40eiBNMTIuNiwxNC4yYy0wLjksMC0xLjctMC43LTEuNy0xLjdjMC0wLjksMC43LTEuNywxLjctMS43YzAuOSwwLDEuNywwLjcsMS43LDEuN1MxMy41LDE0LjIsMTIuNiwxNC4yTDEyLjYsMTQuMnoiLz48L2c+PHBhdGggY2xhc3M9InN0MCIgZD0iTTIxLjcsNS43YzAuNiwwLjIsMSwwLjMsMS43LDAuM2MwLjIsMCwwLjYsMCwwLjgtMC4xYzEuMS0wLjIsMi0wLjgsMi43LTEuN2MwLjYtMC42LDAuOS0xLjYsMC45LTIuNWMwLTIuNS0yLTQuNC00LjQtNC40Yy0yLjUsMC00LjUsMS45LTQuNSw0LjRjMCwwLjcsMC4xLDEuMiwwLjMsMS44QzE5LjgsNC40LDIwLjcsNS4zLDIxLjcsNS43TDIxLjcsNS43eiIvPjwvZz48L3N2Zz4=);
        @include icon();
      }
      &-calendar {
        background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz48c3ZnIHZlcnNpb249IjEuMSIgaWQ9ItCh0LvQvtC5XzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IiB2aWV3Qm94PSI0IC0zLjMgMzUuNiAzNS4zIiBzdHlsZT0iZW5hYmxlLWJhY2tncm91bmQ6bmV3IDQgLTMuMyAzNS42IDM1LjM7IiB4bWw6c3BhY2U9InByZXNlcnZlIj48c3R5bGUgdHlwZT0idGV4dC9jc3MiPi5zdDB7ZmlsbDpub25lO3N0cm9rZTojODg4O3N0cm9rZS13aWR0aDoxLjM7c3Ryb2tlLW1pdGVybGltaXQ6MTA7fTwvc3R5bGU+PGxpbmUgY2xhc3M9InN0MCIgeDE9IjMwLjYiIHkxPSIxLjEiIHgyPSIxMi43IiB5Mj0iMS4xIi8+PHBhdGggY2xhc3M9InN0MCIgZD0iTTM0LjUsMS4xYzIuNCwwLjEsNC40LDIuMSw0LjQsNC41djIxLjJjMCwyLjUtMi4xLDQuNi00LjYsNC42aC0yNWMtMi41LDAtNC42LTItNC42LTQuNlY1LjZjMC0yLjQsMS45LTQuNCw0LjItNC41Ii8+PGxpbmUgY2xhc3M9InN0MCIgeDE9IjQuOCIgeTE9IjEwLjQiIHgyPSIzOC42IiB5Mj0iMTAuNCIvPjxwYXRoIGNsYXNzPSJzdDAiIGQ9Ik0xMi43LDIuOWMwLDEtMC44LDEuOS0xLjksMS45bDAsMGMtMSwwLTEuOS0wLjgtMS45LTEuOXYtMy42YzAtMSwwLjgtMS45LDEuOS0xLjlsMCwwYzEsMCwxLjksMC44LDEuOSwxLjlWMi45eiIvPjxwYXRoIGNsYXNzPSJzdDAiIGQ9Ik0zNC4zLDIuOWMwLDEtMC44LDEuOS0xLjksMS45bDAsMGMtMSwwLTEuOS0wLjgtMS45LTEuOXYtMy42YzAtMSwwLjgtMS45LDEuOS0xLjlsMCwwYzEsMCwxLjksMC44LDEuOSwxLjlWMi45eiIvPjwvc3ZnPg==);
        @include icon();
        position: relative;
        &-days {
          margin-top: 16px;
          position: absolute;
          width: 100%;
          font-size: 1rem;
          text-align: center;
          color: #888;
        }
      }
      &-text {
        font-size: 1.1rem;
        text-align: center;
        padding: 0 3px;
      }
    }
  }
}

@media print {
    .project-item-wrapper {
        display: none;
    }
}