$nav-top-font-color: lightgrey;
$nav-sticky-font-color: black;
$nav-top-bg-color: transparent;
$nav-sticky-bg-color: white;
$nav-hover-color: #245598;
$nav-active-color: #62c46b;
$nav-sticky-border-color: #e4e4e4;

@mixin page-header-transition() {
  transition: all 0.3s ease;
}

.page-header {
  position: fixed;
  width: 100%;
  z-index: 20;
  height: $header-height;
  background-color: $nav-top-bg-color;
  &-logo {
    height: 96px;
    margin-top: 25px;
    cursor: pointer;
    position: relative;
    @include page-header-transition();
    &-image {
      display: inline-block;
      width: 88px;
      height: 96px;
      margin-right: 12px;
      @include page-header-transition();
    }
    &-text-wrapper {
      display: inline-block;
      position: relative;
      height: 96px;
      width: 100px;
      vertical-align: middle;
      color: $nav-top-font-color;
      @include page-header-transition();
      &-text {
        display: inline-block;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        margin: 0;
        width: 90px;
        @include page-header-transition();
        &:hover {
          color: $nav-hover-color;
        }
      }
    }
  }

  &-main-navigation {
    margin-right: 0;
    height: 100%;
    &-list {
      list-style: none;
      padding-left: 0;
      height: 47px;
      display: table-cell;
      vertical-align: middle;
      &-item {
        display: inline-block;
        margin: 0 45px 0 0;
        font-weight: normal;
        color: $nav-top-font-color;
        & a {
          &, &:active, &:visited, &:focus {
            color: $nav-top-font-color;
            @include page-header-transition();
          }
          &:hover {
            color: $nav-hover-color;
            @include page-header-transition();
          }
        }
        &.active > a {
          color: $nav-active-color;
        }
        &:last-child {
          margin-right: 0;
        }
      }
    }
  }

  &-sticky {
    position: fixed;
    width: 100%;
    z-index: 20;
    height: 80px;
    background-color: $nav-sticky-bg-color;
    border-bottom: 1px solid $nav-sticky-border-color;
    @include page-header-transition();
    & .page-header-logo-text-wrapper {
      width: 300px;;
      color: $nav-sticky-font-color;
      height: 100%;
      font-weight: normal;
      @include page-header-transition();
      &-text {
        width: 300px;;
      }
    }
    & .page-header-logo {
      margin-top: 16px;
      margin-bottom: 16px;
      height: 47px;
      @include page-header-transition();
      &-image {
        width: 45px;
        height: 47px;
        @include page-header-transition();
      }
    }
    & a {
      color: $nav-sticky-font-color;
      @include page-header-transition();
    }
    & a:hover {
      color: $nav-hover-color;
      @include page-header-transition();
    }
    & .page-header-main-navigation-list {
      margin: 0;
      @include page-header-transition();
    }
    & .lang-list {
      &-current {
        color: $nav-sticky-font-color;
        border-color: $nav-sticky-border-color;
        background: $nav-sticky-bg-color;
        @include page-header-transition();
      }
      &-wrapper {
        border: 1px solid $nav-sticky-border-color;
        color: $nav-sticky-font-color;
        bottom: -27px;
        background: $nav-sticky-bg-color;
      }
    }
  }
}

.lang-list {
  &-wrapper {
    position: absolute;
    right: 1px;
    bottom: 22px;
    width: 50px;
    border: 1px solid lightgrey;
    border-radius: 3px;
  }
  &-menu {
    padding: 3px 20px 3px 12px;
    list-style: none;
    font-size: 1.142rem;
  }
  &-item {
    &:hover {
      color: $nav-hover-color;
    }
  }
  &-current{
    border: 1px solid lightgrey;
    border-radius: 3px;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 12px;
    display: inline-block;
    position: relative;
    width: 50px;
    font-size: 1.142rem;
    @include page-header-transition();
    &:after {
      content: '';
      background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAADCAMAAABoHeX3AAAAGFBMVEUAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABWNxwqAAAAB3RSTlMA8zBKbPzHby5K1gAAAB1JREFUCNcFwYcBACAMAyC6zP8fC/aS3DKVGujXfAQAAEGdCa18AAAAAElFTkSuQmCC);
      background-repeat: no-repeat;
      width: 7px;
      height: 3px;
      display: block;
      position: absolute;
      top: 11px;
      right: 7px;
    }
  }
}

@media print {
    .page-header {
        display: none;
    }
}