.about {
  color: #2f2f2f;
  height: 467px;
  margin-top: 85px;
  &-logo {
    width: 49px;
    height: 54px;
    margin: 0 auto;
    display: block;
  }
  &-header {
    @include block-header(#000, 335px);
  }
  &-text {
    font-size: 1.4rem;
    margin: 35px auto;
    text-align: center;
    width: 75%;
  }
  &-image {
    background-image: url('../media/photo-1455734729978-db1ae4f687fc.png');
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    background-color: #fff;
    min-height: 552px;
    position: relative;
    margin-left: -50px;
  }
  &-button {
    margin: auto;
    display: block;
  }
}

@media screen and (min-width: 768px) {
  .about-image {
    display: none;
  }
}

@media screen and (min-width: 992px) {
  .about-image {
    display: block;
  }
}