@mixin social-item() {
  display: inline-block;
  width: 27px;
  height: 27px;
  margin: 0 5px 0 0;
  background: center center no-repeat;
  background-size: contain;
  cursor: pointer;
}
.footer {
  border-top: 2px solid #cbcaca;
  font-size: 1.2rem;
  font-weight: normal;
  height: 75px;
  &-copyright {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
  &-content-wrapper {
    position: relative;
    height: 100%;
  }
  &-sticky {
    position: fixed;
    width: 100%;
    bottom: 0;
    background-color: #fff;
    & > .footer {
      border-top: none;
    }
  }
  &-contacts {
    display: block;
    text-align: center;
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
  &-phone {
    &-text {
      margin-right: 30px;
      &:before {
        content: '';
        @include social-item();
        background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz48c3ZnIHZlcnNpb249IjEuMSIgaWQ9ItCh0LvQvtC5XzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IiB2aWV3Qm94PSIwIDAgMjMuOCAyMy44IiBzdHlsZT0iZW5hYmxlLWJhY2tncm91bmQ6bmV3IDAgMCAyMy44IDIzLjg7IiB4bWw6c3BhY2U9InByZXNlcnZlIj48c3R5bGUgdHlwZT0idGV4dC9jc3MiPi5zdDB7Y2xpcC1wYXRoOnVybCgjU1ZHSURfMl8pO308L3N0eWxlPjxnPjxnPjxkZWZzPjxyZWN0IGlkPSJTVkdJRF8xXyIgeT0iLTAuMiIgd2lkdGg9IjI0IiBoZWlnaHQ9IjI1Ii8+PC9kZWZzPjxjbGlwUGF0aCBpZD0iU1ZHSURfMl8iPjx1c2UgeGxpbms6aHJlZj0iI1NWR0lEXzFfIiAgc3R5bGU9Im92ZXJmbG93OnZpc2libGU7Ii8+PC9jbGlwUGF0aD48cGF0aCBjbGFzcz0ic3QwIiBkPSJNMTkuMSwyMy44Yy0xLDAtMi4yLTAuMy0zLjUtMC43Yy0yLjktMS4xLTYtMy4yLTguOC02Yy0yLjgtMi44LTUtNS45LTYtOC44Yy0xLTIuNi0xLTQuOCwwLTUuOEMwLjksMi4zLDEsMi4xLDEuMiwyQzIuMSwxLDMuMSwwLDQuNCwwYzAuOSwwLDEuOCwwLjYsMi43LDEuOGMyLjcsMy40LDEuNSw0LjYsMC4xLDZMNyw4Yy0wLjIsMC4yLTAuNywxLjMsMy40LDUuNGMxLjMsMS4zLDIuNSwyLjMsMy40LDIuOWMwLjYsMC40LDEuNiwwLjksMiwwLjVsMC4zLTAuM2MxLjQtMS40LDIuNi0yLjYsNiwwLjFjMS4xLDAuOSwxLjcsMS44LDEuOCwyLjdjMC4xLDEuMy0xLDIuNC0yLDMuM2MtMC4yLDAuMS0wLjMsMC4zLTAuNCwwLjRDMjAuOSwyMy41LDIwLjEsMjMuOCwxOS4xLDIzLjhMMTkuMSwyMy44eiBNNC4zLDAuOGMtMSwwLTEuOCwwLjktMi42LDEuN0MxLjYsMi43LDEuNCwyLjgsMS4zLDNDMC42LDMuNywwLjYsNS42LDEuNSw3LjljMSwyLjgsMy4xLDUuOCw1LjksOC41YzIuNywyLjcsNS44LDQuOCw4LjUsNS45YzIuMywwLjgsNC4yLDAuOSw0LjksMC4yYzAuMS0wLjEsMC4zLTAuMywwLjUtMC40YzAuOC0wLjgsMS44LTEuNywxLjctMi42YzAtMC43LTAuNS0xLjQtMS41LTIuMmMtMi44LTIuMy0zLjYtMS41LTQuOS0wLjFsLTAuMywwLjNjLTAuNiwwLjYtMS42LDAuNS0zLTAuNGMtMS0wLjYtMi4xLTEuNi0zLjUtM2MtMy40LTMuNC00LjUtNS41LTMuNC02LjVsMC4zLTAuMkM4LDUuOSw4LjgsNS4xLDYuNiwyLjNDNS44LDEuMyw1LjEsMC44LDQuMywwLjhDNC40LDAuOCw0LjQsMC44LDQuMywwLjhMNC4zLDAuOHogTTQuMywwLjgiLz48L2c+PC9nPjwvc3ZnPg==);
        background-position: center bottom;
        width: 13px;
        height: 13px;
      }
    }
  }

  &-mail {
    &-text {
      &:before {
        content: '';
        @include social-item();
        background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz48c3ZnIHZlcnNpb249IjEuMSIgaWQ9ItCh0LvQvtC5XzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IiB2aWV3Qm94PSItMC45IDYuMiAyNC44IDE3LjYiIHN0eWxlPSJlbmFibGUtYmFja2dyb3VuZDpuZXcgLTAuOSA2LjIgMjQuOCAxNy42OyIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+PGc+PHBhdGggZD0iTTE5LjIsMTkuOGMtMC4xLDAtMC4yLDAtMC4zLTAuMWwtNC42LTQuM2MtMC4yLTAuMi0wLjItMC40LDAtMC42YzAuMi0wLjIsMC40LTAuMiwwLjYsMGw0LjYsNC4zYzAuMiwwLjIsMC4yLDAuNCwwLDAuNkMxOS40LDE5LjgsMTkuMywxOS44LDE5LjIsMTkuOEwxOS4yLDE5Ljh6Ii8+PHBhdGggZD0iTTMuOCwxOS44Yy0wLjEsMC0wLjIsMC0wLjMtMC4xYy0wLjItMC4yLTAuMS0wLjQsMC0wLjZsNC42LTQuM2MwLjItMC4yLDAuNC0wLjEsMC42LDBjMC4yLDAuMiwwLjEsMC40LDAsMC42bC00LjYsNC4zQzQsMTkuOCwzLjksMTkuOCwzLjgsMTkuOEwzLjgsMTkuOHoiLz48cGF0aCBkPSJNMjEuOSwyMy44SDEuMWMtMS4xLDAtMi0wLjktMi0yVjguMmMwLTEuMSwwLjktMiwyLTJoMjAuOGMxLjEsMCwyLDAuOSwyLDJ2MTMuNkMyMy45LDIyLjksMjMsMjMuOCwyMS45LDIzLjhMMjEuOSwyMy44eiBNMS4xLDdDMC40LDctMC4xLDcuNS0wLjEsOC4ydjEzLjZjMCwwLjcsMC41LDEuMiwxLjIsMS4yaDIwLjhjMC43LDAsMS4yLTAuNSwxLjItMS4yVjguMmMwLTAuNy0wLjUtMS4yLTEuMi0xLjJIMS4xeiIvPjxwYXRoIGQ9Ik0xMS41LDE3Yy0wLjUsMC0xLjEtMC4yLTEuNS0wLjVsLTEwLjMtOWMtMC4xLTAuMS0wLjEtMC40LDAtMC41YzAuMS0wLjIsMC40LTAuMiwwLjYsMGwxMC4zLDljMC41LDAuNCwxLjQsMC40LDEuOSwwbDEwLjMtOC45QzIzLDcsMjMuMiw3LDIzLjQsNy4xYzAuMSwwLjIsMC4xLDAuNCwwLDAuNkwxMywxNi41QzEyLjYsMTYuOCwxMiwxNywxMS41LDE3TDExLjUsMTd6Ii8+PC9nPjwvc3ZnPg==);
        background-position: center bottom;
        width: 13px;
        height: 13px;
      }
    }
  }

  &-social {
    text-align: right;
    width: 100%;
    height: 32px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    &-facebook {
      @include social-item();
      background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz48c3ZnIHZlcnNpb249IjEuMSIgaWQ9ItCh0LvQvtC5XzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IiB2aWV3Qm94PSIwIDAgMjcgMjciIHN0eWxlPSJlbmFibGUtYmFja2dyb3VuZDpuZXcgMCAwIDI3IDI3OyIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+PHN0eWxlIHR5cGU9InRleHQvY3NzIj4uc3Qwe2ZpbGw6IzQ5NjVBMDt9LnN0MXtmaWxsOiNGRkZGRkY7fTwvc3R5bGU+PGNpcmNsZSBjbGFzcz0ic3QwIiBjeD0iMTMuNSIgY3k9IjEzLjUiIHI9IjEzLjUiLz48cGF0aCBjbGFzcz0ic3QxIiBkPSJNMTMuNiwxNy42di00LjFoMS41bDAuMS0xLjVoLTEuNVYxMWMwLTAuMiwwLTAuNCwwLjEtMC41YzAuMS0wLjEsMC4yLTAuMiwwLjUtMC4yaDAuOWwwLTEuNGMtMC4xLDAtMC4yLDAtMC4zLDBjLTAuMSwwLTAuMiwwLTAuMywwYy0wLjEsMC0wLjIsMC0wLjMsMGMtMC40LDAtMC43LDAtMC45LDAuMWMtMC4zLDAuMS0wLjUsMC4yLTAuNiwwLjRjLTAuMiwwLjItMC4zLDAuNC0wLjQsMC42Yy0wLjEsMC4yLTAuMSwwLjUtMC4xLDAuN1YxMmgtMXYxLjVoMXY0LjFIMTMuNnoiLz48L3N2Zz4=);
    }

    &-instagram {
      @include social-item();
      background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz48c3ZnIHZlcnNpb249IjEuMSIgaWQ9ItCh0LvQvtC5XzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IiB2aWV3Qm94PSIwIDAgMjcgMjciIHN0eWxlPSJlbmFibGUtYmFja2dyb3VuZDpuZXcgMCAwIDI3IDI3OyIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+PHN0eWxlIHR5cGU9InRleHQvY3NzIj4uc3Qwe2ZpbGw6I0E1ODA2NDt9LnN0MXtmaWxsOiNGRkZGRkY7fTwvc3R5bGU+PGNpcmNsZSBjbGFzcz0ic3QwIiBjeD0iMTMuNSIgY3k9IjEzLjUiIHI9IjEzLjUiLz48cGF0aCBjbGFzcz0ic3QxIiBkPSJNMTYuNSw4LjloLTZjLTAuNSwwLTAuOSwwLjQtMC45LDAuOXY2YzAsMC41LDAuNCwwLjksMC45LDAuOWg2YzAuNSwwLDAuOS0wLjQsMC45LTAuOXYtNkMxNy40LDkuMywxNyw4LjksMTYuNSw4Ljl6IE0xNSwxMGMwLTAuMSwwLTAuMSwwLjEtMC4xaDFjMC4xLDAsMC4xLDAsMC4xLDAuMXYxYzAsMC4xLDAsMC4xLTAuMSwwLjFoLTFjLTAuMSwwLTAuMSwwLTAuMS0wLjFWMTB6IE0xMy41LDExLjNjMC44LDAsMS40LDAuNiwxLjQsMS40YzAsMC44LTAuNiwxLjQtMS40LDEuNHMtMS40LTAuNi0xLjQtMS40QzEyLjEsMTIsMTIuNywxMS4zLDEzLjUsMTEuM3ogTTE2LjgsMTUuN2MwLDAuMi0wLjEsMC4zLTAuMywwLjNoLTZjLTAuMiwwLTAuMy0wLjEtMC4zLTAuM3YtMy40aDEuM2MwLDAuMSwwLDAuMywwLDAuNGMwLDEuMSwwLjksMiwyLDJzMi0wLjksMi0yYzAtMC4xLDAtMC4zLDAtMC40aDEuM1YxNS43eiIvPjwvc3ZnPg==);
    }

    &-vk {
      @include social-item();
      background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz48c3ZnIHZlcnNpb249IjEuMSIgaWQ9ItCh0LvQvtC5XzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IiB2aWV3Qm94PSIwIDAgMjcgMjciIHN0eWxlPSJlbmFibGUtYmFja2dyb3VuZDpuZXcgMCAwIDI3IDI3OyIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+PHN0eWxlIHR5cGU9InRleHQvY3NzIj4uc3Qwe2ZpbGw6IzVBNzRBNDt9LnN0MXtmaWxsLXJ1bGU6ZXZlbm9kZDtjbGlwLXJ1bGU6ZXZlbm9kZDtmaWxsOiNGRkZGRkY7fTwvc3R5bGU+PGNpcmNsZSBjbGFzcz0ic3QwIiBjeD0iMTMuNSIgY3k9IjEzLjUiIHI9IjEzLjUiLz48cGF0aCBjbGFzcz0ic3QxIiBkPSJNMTcuNCwxNS41Yy0wLjMtMC4zLTAuNi0wLjYtMC44LTAuOWMtMC4zLTAuMy0wLjMtMC40LTAuMS0wLjdjMC4yLTAuMywwLjUtMC42LDAuNy0xYzAuMi0wLjMsMC40LTAuNiwwLjUtMWMwLjEtMC4yLDAtMC4zLTAuMi0wLjRjMCwwLTAuMSwwLTAuMSwwbC0xLjQsMGMtMC4yLDAtMC4zLDAuMS0wLjMsMC4yYy0wLjEsMC4yLTAuMiwwLjQtMC4zLDAuNmMtMC4yLDAuNS0wLjUsMC45LTAuOCwxLjNjLTAuMSwwLjEtMC4yLDAuMi0wLjMsMC4xYy0wLjItMC4xLTAuMi0wLjMtMC4yLTAuNGwwLTEuNmMwLTAuMi0wLjEtMC4zLTAuMy0wLjRsLTEuNCwwYy0wLjIsMC0wLjMsMC4xLTAuNCwwLjJjLTAuMSwwLjEtMC4xLDAuMSwwLDAuMWMwLjIsMCwwLjQsMC4yLDAuNCwwLjRjMC4xLDAuNCwwLjEsMC44LDAsMS4yYzAsMC4xLDAsMC4yLTAuMSwwLjNjLTAuMSwwLjItMC4yLDAuMi0wLjMsMC4xYy0wLjEtMC4xLTAuMi0wLjItMC4zLTAuNGMtMC4zLTAuNS0wLjYtMS0wLjgtMS42Yy0wLjEtMC4yLTAuMi0wLjMtMC4zLTAuM2MtMC40LDAtMC44LDAtMS4yLDBjLTAuMiwwLTAuMywwLjEtMC4yLDAuNGMwLjQsMSwwLjksMiwxLjYsMi45YzAuMywwLjUsMC43LDAuOSwxLjIsMS4yYzAuNiwwLjMsMS4yLDAuNCwxLjgsMC40YzAuMywwLDAuNC0wLjEsMC40LTAuNGMwLTAuMiwwLTAuNCwwLjEtMC42YzAuMS0wLjIsMC4yLTAuMiwwLjQtMC4xYzAuMSwwLjEsMC4yLDAuMSwwLjIsMC4yYzAuMiwwLjIsMC4zLDAuNCwwLjUsMC42YzAuMiwwLjIsMC41LDAuNCwwLjgsMC4zaDEuMmMwLjIsMCwwLjMtMC4zLDAuMi0wLjVDMTcuNiwxNS43LDE3LjUsMTUuNiwxNy40LDE1LjVMMTcuNCwxNS41eiBNMTcuNCwxNS41Ii8+PC9zdmc+);
      margin-right: 0;
    }
  }
}

@media screen and (max-width: 992px) {
  .footer {
    margin-top: 0;
  }
}

@media print {
    .footer {
        display: none;
    }
}