<div id="footer" class="container-fluid">
    <div class="row footer">
        <div class="col-md-3 col-sm-8 no-padding height-100">
            <div class="footer-content-wrapper">
                <span class="footer-copyright">© Copyright 2016{{footer.copyright}}</span>
            </div>
        </div>
        <div class="col-md-2 col-sm-8 no-padding height-100">
            <div class="footer-content-wrapper">
                <div class="footer-contacts">
                    <span class="footer-phone-text">{{phone}}</span>
                    <span class="footer-mail-text">{{email}}</span>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-8 no-padding height-100">
            <div class="footer-content-wrapper">
                <div class="footer-social">
                    <div class="pull-right">
                        <a class="footer-social-facebook" ng-href="{{fb}}" ng-if="fb"></a>
                        <a class="footer-social-instagram" ng-href="{{instagram}}" ng-if="instagram"></a>
                        <a class="footer-social-vk" ng-href="{{vk}}" ng-if="vk"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>