@mixin share-button($color) {
  width: 50px;
  height: 20px;
  color: #fff;
  font-weight: bold;
  font-size: .8rem;
  text-align: right;
  background-color: $color;
  position: relative;
  padding-right: 5px;
  cursor: pointer;
  margin: 0;
  display: inline-block;
}
@mixin share-button-before() {
  content: '';
  width: 13px;
  height: 13px;
  position: absolute;
  display: inline-block;
  left: 4px;
  top: 4px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}
.project-header {
  &-image {
    width: 100%;
    background: url("../media/Ukraine.png") no-repeat 50% 50%;
    background-size: cover;
    height: 472px;
    position: relative;
    &-layer {
      background-color: #000;
      opacity: .65;
      position: absolute;
      width: 100%;
      height: 472px;
    }
    &-header {
      @include block-header(#fff);
      font-weight: 100;
      font-size: 4.8rem;
      margin-top: 230px;
      position: absolute;
    }
    &-play-button {
      @include play-button();
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      margin-top: 350px;
    }
    &-text {
      margin-top: 425px;
      left: 50%;
      transform: translateX(-50%);
      font-size: 1.2rem;
      color: #fff;
      position: absolute;
      cursor: pointer;
      &:hover {
        text-decoration: underline;
      }
    }
  }
  
  &-info {
    background-color: #f7f7f7;
    width: 100%;
    position: relative;
    height: 240px;
    &-text {
      width: 65%;
      position: absolute;
      transform: translate(-50%, -50%);
      left: 50%;
      top: 30%;
      font-size: 1.8rem;
      text-align: center;
      &-share {
        &-wrapper {
          width: 125px;
          height: 20px;
          position: absolute;
          transform: translate(-50%, -50%);
          left: 50%;
          bottom: 40px;
        }
        &-text {
          position: absolute;
          transform: translateY(-50%);
          top: 50%;
          right: 5px;
        }
        &-vk {
          @include share-button(#507299);
          &:before {
            @include share-button-before();
            background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACEAAAATCAMAAAApiJT7AAABHVBMVEUAAAD///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////+RDpdcAAAAXnRSTlMAAQIEBgcICw0QERMXGBwdHyIjJCowMjM3OT1GTk9UVVZXYWNkZmltb3FydXZ5en2JkZKUlZadoKKnqKmwsbO0u7y/wMLFyNDX2drc3eTl5urt8PHz9fb4+fr7/P3+WmpPGgAAAPxJREFUeAFt0ddSYkEUheH/MDAzIipiFnNGxZyDKGbEoCAiwn7/x7B6WZ7TF3xX/65aV92sNczsLg0wUjWngAyUzKyxCvvm7AH0vKk/kaKOPMwpakmAnLqJM6yud0PqS5kDyHiLc/WmyzPlfQAE0WJM+dLhOmsy7TpcJB6UM8itjnLcX+yqLgNk3GTJW0wp3vsAudZdSYNJMls1Z5Ffg01zbv7GTJ5aP3dAaNvkasV8R0T+la2dBSKjDWujNUtk3jz55WeT5gSRDYvE6LwwqQ0RCrYsBMSPTR5TRCYr3oI/pyYneDIHde9vE0WTfnxd64VS/XUH+X/44V6v9xv3XYMzjF+1pQAAAABJRU5ErkJggg==);
          }
        }
        &-fb {
          @include share-button(#3b5998);
          margin-right: 20px;
          &:before {
            @include share-button-before();
            background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAMAAADXqc3KAAAAPFBMVEUAAAD////////////////////////////////////////////////////////////////////////////YSWgTAAAAE3RSTlMADhY0QF5oanZ6l52fp8Xb9fn9zaf0xwAAAFRJREFUeNrNzTkSgDAQA0FxH2sw1v7/r1AEBHhVRcikHQyMHkQDPYxw0Rv2eRiXtYYJdxVsENAraACkEsxxdbgA/w54ygqKgNYFdHL+Y2AMhDECphN7lCHf5U0T6QAAAABJRU5ErkJggg==);
          }
        }
      }
    }
  }
}