<div class="project-header-image" style="background-image: url('{{project.project.picture}}')">
    <div class="project-header-image-layer"></div>
    <h1 class="project-header-image-header" translate="{{'projects.project' + project.project._id + '.displayName'}}"></h1>
    <div class="project-header-image-play-button" ng-if="video"></div>
    <div class="project-header-image-text" ng-if="video" ng-click="gotoVideo()" translate="interface.pages.project.lookVideo"></div>
</div>
<div class="project-header-stats">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-1 col-md-offset-2">
                <div class="project-header-stats-info-icon-digit">{{project.project.people}}</div>
                <div class="project-header-stats-info-icon-text">{{project.project.people | spdEnding : 'volunteer'}}</div>
            </div>
            <div class="col-md-1">
                <div class="project-header-stats-info-icon-digit">{{project.project.days}}</div>
                <div class="project-header-stats-info-icon-text">{{project.project.days | spdEnding : 'day'}} {{'interface.directives.stats.toBeginning' | translate}}</div>
            </div>
            <div class="col-md-1">
                <div class="project-header-stats-info-icon-digit">{{project.project.collected}} <span class="project-header-stats-info-icon-currency" translate="interface.currency"></span></div>
                <div class="project-header-stats-info-icon-text" translate-values='{ total: {{project.project.moneyTotal}} }' translate="interface.pages.project.collected"></div>
            </div>
            <div class="col-md-1 col-md-offset-1">
                <button type="button" class="project-header-stats-info-button" translate="interface.pages.project.donate"></button>
            </div>
        </div>
    </div>
</div>
<div class="project-header-info">
    <p class="project-header-info-text" translate="{{'projects.project' + project.project._id + '.displayName'}}"></p>
    <div class="project-header-info-text-share-wrapper">
        <div class="project-header-info-text-share-fb"
             socialshare
              socialshare-provider="facebook"
              socialshare-text="{{project.project.name.ru}}"
              socialshare-description="{{project.project.shortDescription.ru}}"
              socialshare-url="{{href}}"
              socialshare-media="{{absPicture}}">
            <span class="project-header-info-text-share-text">Share</span>
        </div>
        <div  class="project-header-info-text-share-vk"
              socialshare
              socialshare-provider="vk"
              socialshare-text="{{project.project.name.ru}}"
              socialshare-description="{{project.project.shortDescription.ru}}"
              socialshare-url="{{href}}"
              socialshare-media="{{absPicture}}">
            <span class="project-header-info-text-share-text">Share</span>
        </div>
    </div>
</div>