@mixin project-image() {
  background-size: cover;
  height: $header-image-height;
  width: 100%;
  color: #fff;
  font-size: 1.6rem;
  font-weight: bold;
  margin: 0;
  padding-top: 35px + $header-height;
  position: relative;
}
.project-carousel {
  height: $header-image-height;
  &-slide {
    font-weight: 100;
    text-align: center;
    &-wrapper {
      background: no-repeat 50% 50% ;
      @include project-image;
    }
    &-layer {
      background-color: #000;
      opacity: .65;
      position: absolute;
      width: 100%;
      height: $header-image-height;
      margin-top: -35px - $header-height;
    }
    &-header {
      font-size: 4.8rem;
      font-weight: 100;
      width: 60%;
      margin: auto;
      max-height: 140px;
      text-overflow: ellipsis;
      overflow: hidden;
      position: relative;
    }
    &-description {
      font-size: 1.6rem;
      font-weight: 100;
      width: 60%;
      margin: auto;
      margin-top: 50px;
      max-height: 90px;
      text-overflow: ellipsis;
      overflow: hidden;
      position: relative;
    }
    &-icons {
      width: 390px;
      margin: 30px auto;
      position: relative;
    }
  }
  &-button {
    display: block;
    margin: 30px auto 0;
    position: absolute;
    top: 600px;
    transform: translateX(-50%);
    z-index: 15;
    left: 50%;
  }
  @include carousel-controls(50px, 350px, 700px, #ffffff);
}