.partners-header {
  &-image {
    width: 100%;
    background: url("../media/people-coffee-tea-meeting.png") no-repeat 50% 50%;
    background-size: cover;
    height: 398px + $header-height;
    position: relative;
    &-header {
      @include block-header(#fff);
      font-weight: 100;
      font-size: 4.8rem;
      margin-top: 240px;
      position: absolute;
    }
  }
}