.projects-list {
  &-button {
    color: #000;
    background: none;
    margin-top: 0;
    &.active {
      color: #fff;
      background: #5e88c2;
    }
    &-wrapper {
      margin: 45px auto 25px;
      text-align: center;
      width: auto;
    }
  }
  &-wrapper {
    margin: auto;
    margin-bottom: 80px;
    width: 430px;
    &-area {
      margin: -25px;
    }
  }
}

@media (min-width: 2151px) {
  .projects-list-wrapper {
    width: 2150px;
  }
}

@media (max-width: 2150px) {
  .projects-list-wrapper {
    width: 1720px;
  }
}

@media (max-width: 1720px) {
  .projects-list-wrapper {
    width: 1290px;
  }
}

@media (max-width: 1290px) {
  .projects-list-wrapper {
    width: 860px;
  }
}