.modal {
  &-bg {
    background-color: #181d23;
    opacity: 0.9;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 25;
    position: fixed;
  }
  &-window {
    width: 475px;
    background-color: #fff;
    opacity: 1;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 30;
    &-video-title {
      text-align: center;
      color: #fff;
    }
    &.video {
      width: 800px;
      height: 600px;
      font-size: 2.4rem;
      font-weight: 100;
    }
    &-close {
      width: 30px;
      height: 30px;
      border: 1px solid #e83f1e;
      position: absolute;
      top: 20px;
      right: 20px;
      cursor: pointer;
      border-radius: 50%;
      &-diag {
        width: 17px;
        height: 1px;
        background-color: #e83f1e;
        position: absolute;
        left: 50%;
        top: 50%;
      }
      &-diag1{
        transform: translateX(-50%) rotate(45deg);
      }
      &-diag2{
        transform: translateX(-50%) rotate(-45deg);
      }
    }
    &-header {
      @include block-header(#000);
      margin-top: 60px;
      width: 340px;
    }
    &-input {
      border: 1px solid #cdcaca;
      width: 100%;
      height: 50px;
      background: none;
      padding: 18.5px 30px;
      margin-top: 10px;
      &::-webkit-input-placeholder       {@include placeholder-feedback(1)}
      &::-moz-placeholder                {@include placeholder-feedback(1)}
      &:-ms-input-placeholder            {@include placeholder-feedback(1)}
      &:focus::-webkit-input-placeholder {@include placeholder-feedback(0)}
      &:focus::-moz-placeholder          {@include placeholder-feedback(0)}
      &:focus:-ms-input-placeholder      {@include placeholder-feedback(0)}
      &-textarea {
        resize: none;
        overflow: hidden;
        height: 165px;
      }
      &-group {
        font-size: 1.3rem;
        width: 300px;
        margin: 30px auto 0;
      }
    }
    &-label {
      margin: 0;
      font-size: 1.3rem;
      font-weight: bold;
    }
    &-text-area {
      resize: none;
      overflow: hidden;
      height: 165px;
    }
    &-submit {
      margin: 30px auto 85px;
      display: block;
      &.confirmation {
        margin-bottom: 30px;
      }
    }
    &-confirmation-text {
      text-align: center;
    }
  }
}